.DS_Store
build/
config/
node_modules/
src/
/static/
test/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.postcssrc.js
/index.html
package.json
README.md

npm-debug.log
yarn-error.log
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
